body {
  background-color: #ffcef8;
  font-family: sans-serif;
}

.container {
  max-width: 800px;
  margin: 0 auto;
  text-align: center;
  background-color: rgb(246, 180, 213);
  
}

h1 {
  color: #333;
  margin-top: 50px;
}

form {
  display: inline-block;
  text-align: center;
}

label {
  display: block;
  margin-bottom: 10px;
  font-size: 20px;
  color: #333;
}

input[type="text"],
input[type="password"] {
  padding: 10px;
  font-size: 18px;
  border-radius: 5px;
  border: none;
  background-color: #fff;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
  width: 300px;
  margin-bottom: 20px;
}

button[type="submit"] {
  padding: 10px;
  font-size: 18px;
  border-radius: 5px;
  border: none;
  background-color: #333;
  color: #fff;
  cursor: pointer;
  transition: background-color 0.2s ease;
}

button[type="submit"]:hover {
  background-color: #555;
}

#loader {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.5);
  display: none;
  z-index: 9999;
}

.loader-inner {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 80px;
  height: 80px;
  border: 10px solid #f3f3f3;
  border-top-color: #3498db;
  border-radius: 50%;
  animation: spin 1s ease-in-out infinite;
  text-align: center;
}

.loader-text {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 1.2rem;
  font-weight: bold;
  font-style: italic;
  color: #fff;
  text-shadow: 2px 2px 4px rgba(0,) 
}
.loading-text{
  right: 2000cm;
}